In [ ]:
# 21BPS1232
# Arnesh Pal
# Computer Science and Engineering with Specialisation in Cyber Physical Systems
# Assignment 1:

In [12]:
#First Question

# Importing the pandas library
import pandas as pd

# Creating a dictionary of random data
data = {
    'name': ['Arnesh', 'Ritik', 'Mohit', 'Shubh', 'Meetesh', 'Kartikey', 'Rohit', 'Bitan', 'Dhruv', 'Ankit'],
    'age': [21, 23, 38, 41, 17, 22, 24, 33, 34, 20],
    'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'F'],
    'city': ['New York', 'London', 'Seoul', 'Berlin', 'Tokyo', 'Sydney', 'Rome', 'Amsterdam', 'Beijing', 'Delhi'],
    'salary': [4500, 5200, 4800, 5000, 4700, 4900, 4600, 5100, 5300, 4400]
}

# Creating a pandas dataframe from the dictionary
df = pd.DataFrame(data)

print(df)

       name  age gender       city  salary
0    Arnesh   21      F   New York    4500
1     Ritik   23      M     London    5200
2     Mohit   38      M      Seoul    4800
3     Shubh   41      M     Berlin    5000
4   Meetesh   17      F      Tokyo    4700
5  Kartikey   22      M     Sydney    4900
6     Rohit   24      F       Rome    4600
7     Bitan   33      M  Amsterdam    5100
8     Dhruv   34      M    Beijing    5300
9     Ankit   20      F      Delhi    4400

In [13]:
#Second Question

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   age     10 non-null     int64
 2   gender  10 non-null     object
 3   city    10 non-null     object
 4   salary  10 non-null     int64
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [14]:
#Third Question

df.describe()

             age       salary
count  10.000000    10.000000
mean   27.300000  4850.000000
std     8.407008   302.765035
min    17.000000  4400.000000
25%    21.250000  4625.000000
50%    23.500000  4850.000000
75%    33.750000  5075.000000
max    41.000000  5300.000000

In [15]:
#Fourth Question

# Displaying the 4th index observation with 'loc' slicing operator
df.loc[4]

name      Meetesh
age            17
gender          F
city        Tokyo
salary       4700
Name: 4, dtype: object

In [17]:
#Fifth Question

# Displaying the number of null values in each column of the dataframe
df.isnull().sum()

name      0
age       0
gender    0
city      0
salary    0
dtype: int64